libs/
node_modules/
.DS_Store
.idea
.project
.svn
.bem/cache/
*.bundles/*/*.*
!*.bundles/*/*.bemjson.js
!*.bundles/index/index.html
!*.bundles/index/_index.js
!*.bundles/index/_index.css
!*.bundles/.bem/*
