* {
	margin: 0;
	padding: 0;
}

.big-image {
	height: 100%;
}

.big-image > img {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.gallery {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 95px;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}

.gallery-row {
	position: relative;
    white-space: nowrap;
    width: 100%;
}

.gallery-rule {
	float: left;
    vertical-align: baseline;
}

.gallery a {
	/*
	Чтобы скроллер был сразу правильной ширины, задаём точный размер width
	для всех элементов внутри. 
	*/
	width: 95px;
	float: left;
}

.gallery a > img {
	padding: 10px;
}

.selected {
	background-color: orange;
}