* {
	margin: 0;
	padding: 0;
}

.big-image {
	height: 100%;
}

.big-image > img {
	display: block;
	margin: auto;
	height: 100%;
}

.gallery {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100px;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}

.gallery-row {
	position: relative;
    white-space: nowrap;
    width: 100%;
}

.gallery-rule {
	float: left;
    vertical-align: baseline;
}

.gallery a {
	float: left;
}

.gallery a > img {
	padding: 10px;
}

.selected {
	background-color: orange;
}